.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: white;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .carousel-dots {
        position: absolute;
        bottom: -100px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
      }
      .carousel-dots li {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 2px;
        padding: 0;
        cursor: pointer;
      }
      
      .carousel-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        // border-radius: 100%;
        border: 0;
        outline: none;
        background: transparent;
      }
      
      .carousel-dots li button:hover,
      .carousel-dots li button:focus {
        outline: none;
      }
      
      .carousel-dots li button:hover:before,
      .carousel-dots li button:focus:before {
        opacity: 1;
        // content: url('../icons/dot_red_solid_2.svg');
        border: none;
        transition: 0.5s all;
      }
      
      .carousel-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: url('../icons/dot_red.svg');
        width: 50%;
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .carousel-dots li.slick-active button:before {
        opacity: .75;
        color: black;
      }
}

