.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        min-height: 270px;
        background-color: $main_color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        &:hover {
            color: #ffffff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: solid 2px #ffffff;
        border-radius: 100%;
        margin: 0 15px;
        img {
            height: 27px;
        }
        &:hover {
            cursor: pointer;
            transition: 0.1s all;
            color: #450000;
            box-shadow: 3px 3px 10px #450000;
            border: none;
        }
    }
}