.title {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        text-align: left;
        color: #ffffff;
    }
}