@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .promo {
        padding-left: 20px;
        padding-right: 20px;
    .header {
        img {
            width: 100%;
        }
    }
        
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .advantages {
        padding-left: 20px;
        padding-right: 20px;
        &__header {
            font-size: 16px;
        }
        &__subheader {
            font-size: 13px;
        }
    }
    .consultation {
            padding-left: 20px;
    }
    .carousel {
        .slick-prev{
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
        &__inner {
            width: 90%;
        img {
            width: 80%;
            margin: 0 auto;
        }
        }
        
    }
    .recall {
        &__block
        img {
            width:80%;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}

@media (max-width: 767px) {
    .button {
        &:hover {
            transition: none;
            color: #ffffff;
            box-shadow: none;
            border: none;
        }
    }
    .promo {
    .header {
        &__logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            max-width: 210px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        .title {
            margin-top: 20px;
        }
        &__subheader {
            margin-top: 20px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 20px;
        }
        &__content {
            justify-content: space-around;
        }
    }
    .recall {
        margin: 0 auto;
        img {
            margin: 0 auto;
            width: 100%;
        }
        &__block {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__subtitle {
            margin-top: 20px;
            text-align: center;
        }
        &__review {
            margin-top: 20px;
            text-align: center;
        }
        &__text {
            margin: 20px 30px 0 30px;
            text-align: center;
        }
    }
    .footer {
        &__social-item {
            &:hover {
                transition: none;
                box-shadow: none;
                color: none;
                border: solid 2px #ffffff;
                border-radius: 100%;
            }
        }
    }
    .pageup {
        bottom: 20px;
        right: 8px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 575px) {
    .promo {
        padding-bottom: 50px;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        &__contacts {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        &__logo {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__official {
            display: none;
        }
        &__phone {
            margin-top: 20px;
            font-size: 14px;
            margin-right: 15px;
        }
        .button {
            font-size: 11px;
            margin-top: 20px;
            width: 130px;
        }
        &__wrapper {
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
    }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 100%;
        }
    }
    .title {
        font-size: 30px;
        text-align: center;
        &__subheader {
            text-align: center;
        }
        &__icons {
            flex-direction: column;
            margin-top: 30px;
            
        }
        &__icon {
            margin-top: 20px;
        }
    }
    .advantages {
        padding: 50px 0 60px 0;
        .title {
            font-size: 27px;
        }
        &__header {
            margin-top: 15px;
        }
        &__subheader {
            margin-bottom: 15px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__item {
            margin-bottom: 20px;
        }
    }
    
    .consultation {
        padding-top: 60px;
        .title {
            &_left {
                font-size: 24px;
            }
        }
        &__descr {
            margin-top: 20px;
            text-align: center;
        }
        .feed-form {
            // width: 100%;
            margin: 0 auto;
            margin-top: 50px;
            margin-right: 35px;
        }
    }
    // .carousel {
    //     .carousel-dots {
    //         bottom: -100px;
    //       }
    // }
    .catalog {
        .title {
            font-size: 27px;
        }
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin: 10px 0;
        }
        &__content {
            justify-content: center;
        }
    }
    .footer {
        &__info {
            width: 100%;
            padding-bottom: 20px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }
        &__social {
            flex-direction: column;
        }
        &__social-item {
            margin-bottom: 20px;
        }
    }
    .overlay {
        .feed-form {
            width: 250px;
        } 
    }
    .modal {
        padding-left: 20px;
        padding-right: 20px;
        &__close {
            top: 10px;
            right: 10px;
            font-size: 35px;
        }
    }
}